* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

$color-textos: #1b1c21;
$color-seleccion: #bf9410;
$color-textos-comunes: #888484;
$color-titulos: #2d2e32;
$bg-secciones-secundarias: #eef2f7;
$bg-secciones-terciarias: #222222;
$fuente-principal: "Old Standard TT";
$fuente-principal-bold: "Old Standard TT Bold";
$fuente-textos: "Open Sans";

@font-face {
  font-family: "Old Standard TT";
  src: url("/Fonts/OldStandardTT-Regular.ttf");
}

@font-face {
  font-family: "Old Standard TT Bold";
  src: url("/Fonts/OldStandardTT-Bold.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("/Fonts/OpenSans-Regular.ttf");
}

//MIXINS

@mixin flexbox($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

//GLOBALES

body {
  overflow-x: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.titulo-principal {
  font-size: clamp(40px, 4.9vw, 60px);
  font-family: $fuente-principal;
  font-weight: 100;
}
.titulo-principal:first-letter {
  text-transform: capitalize;
}

.numero {
  font-size: 40px;
  font-family: $fuente-principal-bold;
  color: $color-seleccion;
  font-weight: bold;
}

.texto-comun {
  font-size: 18px;
  font-family: $fuente-textos;
  color: $color-textos-comunes;
}

.mini-textos {
  font-size: 14px;
  font-family: $fuente-textos;
  color: $color-seleccion;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 1px;
  margin: 0 0 25px 0;
}

.texto-quotes {
  font-size: 22px;
  font-family: $fuente-principal;
  color: $color-textos;
  text-align: center;
  line-height: 1.5;
}

.logo {
  width: 250px;
  height: 100%;
  @include flexbox(row, flex-start, center);
  .img-logo {
    width: 45px;
    height: 45px;
    margin-right: 5px;
  }
  .texto-logo {
    font-family: "DM Serif Display", serif;
    font-size: 28px;
    color: black;
    transform: scale(1, 1);
    @include flexbox(row, center, center);
    font-weight: bolder;
  }
  .punto {
    width: 15px;
    font-size: 2.5rem;
    @include flexbox(row, center, flex-end);
    color: $color-seleccion;
  }
}

.division {
  width: 100%;
  display: block;
  height: 20px;
  @include flexbox(row, center, center);
  .linea-division {
    width: 20px;
    height: 2px;
    background: $color-seleccion;
    margin: 0 5px;
  }
}

//SWIPER
.swiper-container,
.swiper-container-dos,
.swiper-container-tres,
.swiper-container-cuatro,
.swiper-container-cinco {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.swiper-container-cinco {
  max-width: 900px;
  margin: 0 auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.nav-desktop {
  position: fixed;
  left: 0;
  width: 320px;
  background: white;
  height: 100%;
  top: 0;
  display: none; //OCULTA HASTA LOS 1024PX
  .logo {
    height: 100px;
    width: 100%;
    justify-content: center;
  }
  .links-nav {
    width: 100%;
    height: calc(100% - 100px);
    padding-top: 50px;
    @include flexbox(column, flex-start, center);
    list-style-type: none;
  }
  .link {
    margin: 25px 0;
    color: $color-textos-comunes;
  }
}

//INICIO NAV-PRINCIPAL
.contenido-principal {
  width: 100%;
}

.navegacion-principal {
  width: 100%;
  height: 70px;
  padding: 0 10px;
  @include flexbox(row, flex-start, center);
  .hamburguesa {
    width: 40px;
    height: 40px;
    position: fixed;
    right: 10px;
    z-index: 999;
    @include flexbox(column, center, center);
    background: white;
  }
  .linea-hamburguesa {
    width: 25px;
    height: 3px;
    background: $color-seleccion;
    margin: 3px 0;
  }
}

@media (min-width: 1024px) {
  .navegacion-principal {
    display: none;
  }
}

.hero-portada {
  width: 100%;
  height: 685px;
  overflow: hidden;
  position: relative;
  .swiper-slide {
    overflow: hidden; //PARA QUE FUNCIONE EL PARALLAX
  }
  .swiper-pagination {
    bottom: 0;
  }
  .imagen01 {
    background: red;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.418);
    }
  }
  .img-01 {
    background: url("/imagenes/header/hero01.webp") center / cover no-repeat;
  }
  .img-02 {
    background: url("/imagenes/header/hero02.webp") center / cover no-repeat;
  }
  .img-03 {
    background: url("/imagenes/header/hero03.webp") center / cover no-repeat;
  }
}

@media (min-width: 1024px) {
  .hero-portada {
    min-height: 100vh;
  }
}
.oferta {
  width: 100%;
  overflow: hidden;
  .imagen-casa {
    background: aqua;
    height: 70px;
  }
}

.intro {
  width: 100%;
  padding: 100px 20px;
  .contenedor-datos {
    width: 100%;
    @include flexbox(row, space-evenly, center);
    flex-wrap: wrap;
  }
  .datos {
    width: 100%;
    height: 100px;
    margin: 10px 0;
    @include flexbox(column, space-evenly, center);
    .texto-comun {
      text-transform: capitalize;
    }
  }
  .galeria {
    width: 100%;
    @include flexbox(row, space-evenly, center);
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 100px auto 0;
  }
  .contenedor-imagen-galeria {
    width: 300px;
    height: 180px;
    margin: 20px 10px;
  }
}

@media (min-width: 768px) {
  .intro {
    .datos {
      width: 30%;
    }
  }
}

.contenedor-titulos {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.testimoniales {
  background: $bg-secciones-secundarias;
  width: 100%;
  padding: 100px 20px;
  .contenedor-titulos {
    margin-bottom: 10px;
  }
  .testimonio {
    width: 100%;
    @include flexbox(column, flex-start, center);
    padding: 20px;
  }
  .texto-quotes {
    max-width: 750px;
    margin-bottom: 30px;
  }
  .texto-comun {
    margin: 5px 0;
  }
}

.empresas {
  width: 100%;
  height: 200px;
  background: $bg-secciones-terciarias;
  padding: 0 20px;
  .logo-empresa {
    padding: 10px 15px;
    img {
      width: 200px;
    }
  }
}

.oferta {
  width: 100%;
  padding: 100px 20px;
  .imagen-principal {
    width: 100%;
    background: red;
    margin-bottom: 20px;
    height: 50vw;
    max-width: 720px;
    margin: 0 auto 20px;
    max-height: 400px;
  }
  .swiper-container-dos {
    margin: 0 auto;
    max-width: 720px;
  }
  .imagen-casa {
    height: 30vw;
    max-height: 240px;
  }
}

.equipo {
  width: 100%;
  padding: 100px 20px;
  background: $bg-secciones-secundarias;
  .carrusel-equipo {
    height: 500px;
  }
  .carta-equipo {
    width: 100%;
    width: 280px;
    max-width: 300px;
    height: 80%;
    @include flexbox(column, center, center);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.089);
    .titulo-principal {
      font-size: 24px;
    }
  }
  .imagen-carta {
    width: 100%;
    height: 50%;
  }
  .descripcion-carta {
    width: 100%;
    height: 50%;
    @include flexbox(column, space-evenly, center);
    padding: 20px;
    background: white;
  }
  .texto-comun {
    font-size: 16px;
    line-height: 2;
  }
}

.google-maps {
  width: 100%;
  @include flexbox(row, center, center);
  flex-wrap: wrap;
  .contenedor-titulos {
    @include flexbox(column, flex-start, center);
    height: 350px;
    padding: 50px 20px;
    margin: 0;
    .texto-comun {
      max-width: 520px;
    }
  }
  .contenedor-mapa {
    width: 100%;
    height: 350px;
    background: green;
  }
  .titulo-principal {
    margin-bottom: 20px;
  }
  .texto-comun {
    line-height: 2;
  }
}

@media (min-width: 768px) {
  .google-maps {
    .contenedor-titulos {
      flex: 50%;
    }
    .contenedor-mapa {
      flex: 50%;
    }
  }
}

footer {
  width: 100%;
  height: 70px;
  background: $bg-secciones-terciarias;
  @include flexbox(row, center, center);
  .texto-comun {
    color: $color-seleccion;
  }
}

@media (min-width: 1024px) {
  .contenido-principal {
    width: calc(100% - 320px);
    margin-left: auto;
  }
}

//NAV DESKTOP

@media (min-width: 1024px) {
  .nav-desktop {
    @include flexbox(column, flex-start, center);
  }
}
