* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

//FUENTES

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@font-face {
  font-family: "Old Standard TT";
  src: url("/Fonts/OldStandardTT-Regular.ttf");
}

@font-face {
  font-family: "Old Standard TT Bold";
  src: url("/Fonts/OldStandardTT-Bold.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("/Fonts/OpenSans-Regular.ttf");
}
$fuente-principal: "Old Standard TT";
$fuente-principal-bold: "Old Standard TT Bold";
$fuente-textos: "Open Sans";

//COLORES
$color-textos: #1b1c21;
$color-seleccion: #bf9410;
$color-textos-comunes: #888484;
$color-titulos: #2d2e32;
$bg-secciones-secundarias: #eef2f7;
$bg-secciones-terciarias: #222222;

//MIXINS
@mixin flexbox($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

//GLOBALES
body {
  overflow-x: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.titulo-principal {
  font-size: clamp(40px, 4.9vw, 60px);
  font-family: $fuente-principal;
  font-weight: 100;
  text-transform: capitalize;
}

.numero {
  color: $color-seleccion;
  font-size: 40px;
  font-family: $fuente-principal-bold;
  font-weight: bold;
}

.texto-comun {
  font-size: 18px;
  font-family: $fuente-textos;
  color: $color-textos-comunes;
}

.mini-textos {
  margin: 0 0 25px 0;
  color: $color-seleccion;
  font-size: 14px;
  font-family: $fuente-textos;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 1px;
}

.texto-quotes {
  color: $color-textos;
  font-size: 22px;
  font-family: $fuente-principal;
  text-align: center;
  line-height: 1.5;
}

.contenedor-titulos {
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
}

.logo {
  width: 250px;
  height: 100%;
  @include flexbox(row, flex-start, center);
  .img-logo {
    width: 45px;
    height: 45px;
    margin-right: 5px;
  }
  .texto-logo {
    color: black;
    @include flexbox(row, center, center);
    transform: scale(1, 1);
    font-size: 28px;
    font-family: "DM Serif Display", serif;
    font-weight: bolder;
  }
  .punto {
    width: 15px;
    @include flexbox(row, center, flex-end);
    color: $color-seleccion;
    font-size: 2.5rem;
  }
}

.division {
  width: 100%;
  height: 20px;
  @include flexbox(row, center, center);
  .linea-division {
    width: 20px;
    height: 2px;
    margin: 0 5px;
    background: $color-seleccion;
  }
}

//SWIPER
.swiper-container-empresas,
.swiper-container-equipo,
.swiper-container-header,
.swiper-container-testimonios,
.swiper-container-ofertas {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.swiper-container-testimonios {
  max-width: 900px;
  margin: 0 auto;
}
.swiper-slide {
  @include flexbox(row, center, center);
  text-align: center;
}
.swiper-pagination-bullet {
  width: 40px;
  height: 6px;
  border-radius: 0px;
  background-color: black;
}
.swiper-pagination-bullet-active {
  background: $color-textos-comunes;
}

//INICIO NAVEGACION DESKTOP
.nav-desktop {
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  height: 100%;
  display: none; //OCULTA HASTA LOS 1024PX
  background: white;
  .logo {
    height: 100px;
    width: 100%;
    justify-content: center;
  }
  .texto-logo {
    font-size: 32px;
    letter-spacing: 1px;
  }
  .img-logo {
    margin-right: 10px;
  }
  .links-nav {
    width: 100%;
    height: calc(100% - 100px);
    padding-top: 50px;
    @include flexbox(column, flex-start, center);
    list-style-type: none;
  }
  .link {
    position: relative;
    z-index: 2;
    margin: 25px 0;
    padding: 5px;
    overflow: hidden;
    color: $color-textos-comunes;
    transition: color 0.1s ease-in-out 0.1s;
  }
  .link:after {
    content: "";
    position: absolute;
    left: -100%;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: $color-seleccion;
    transition: left 0.2s ease-in-out;
  }
  .link:hover {
    & {
      color: white;
    }
    &:after {
      left: 0;
    }
  }
}
//INICIO QUERYS NAV DESKTOP
@media (min-width: 1024px) {
  .nav-desktop {
    @include flexbox(column, flex-start, center);
  }
}

//INICIO CONTENIDO PRINCIPAL
.contenido-principal {
  width: 100%;
}

//INICIO QUERYS CONTENIDO PRINCIPAL
@media (min-width: 1024px) {
  .contenido-principal {
    width: calc(100% - 320px);
    margin-left: auto;
  }
}

//INICIO NAV-PRINCIPAL
.navegacion-principal {
  width: 100%;
  height: 70px;
  @include flexbox(row, flex-start, center);
  padding: 0 10px;
  .hamburguesa {
    position: fixed;
    right: 10px;
    z-index: 999;
    width: 40px;
    height: 40px;
    @include flexbox(column, center, center);
    background: white;
  }
  .linea-hamburguesa {
    width: 25px;
    height: 3px;
    margin: 3px 0;
    background: $color-seleccion;
  }
}

//INICIO QUERYS NAV-PRINCIPAL
@media (min-width: 1024px) {
  .navegacion-principal {
    display: none;
  }
}

//INICIO PORTADA
.hero-portada {
  position: relative;
  width: 100%;
  height: 750px;
  overflow: hidden;
  .contenedor-header {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    @include flexbox(row, center, flex-start);
    color: rgba(255, 255, 255, 0.911);
    background: rgba(0, 0, 0, 0.158);
  }
  .titulo-principal {
    max-width: 550px;
    margin-top: 150px;
    text-align: center;
    font-weight: bolder;
    line-height: 1.5;
  }
  .swiper-slide {
    overflow: hidden; //PARA QUE FUNCIONE EL PARALLAX
  }
  .swiper-pagination {
    bottom: 0;
  }
  .imagen01 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.418);
    }
  }
  .img-01 {
    background: url("/imagenes/header/hero01.webp") center / cover no-repeat;
  }
  .img-02 {
    background: url("/imagenes/header/hero02.webp") center / cover no-repeat;
  }
  .img-03 {
    background: url("/imagenes/header/hero03.webp") center / cover no-repeat;
  }
}

//INCIO QUERYS PORTADA
@media (min-width: 768px) {
  .hero-portada {
    .titulo-principal {
      margin-top: 150px;
    }
  }
}
@media (min-width: 1024px) {
  .hero-portada {
    min-height: 100vh;
    .titulo-principal {
      max-width: 750px;
      margin-top: 200px;
    }
  }
}

//INICIO SECCION PRINCIPAL
.intro {
  width: 100%;
  padding: 100px 20px;
  .contenedor-datos {
    width: 100%;
    @include flexbox(row, space-evenly, center);
    flex-wrap: wrap;
  }
  .datos {
    width: 100%;
    height: 100px;
    @include flexbox(column, space-evenly, center);
    margin: 10px 0;
    .texto-comun {
      text-transform: capitalize;
    }
  }
  .galeria {
    width: 100%;
    max-width: 1200px;
    @include flexbox(row, space-evenly, center);
    margin: 100px auto 0;
    flex-wrap: wrap;
  }
  .contenedor-imagen-galeria {
    width: 300px;
    height: 180px;
    margin: 20px 10px;
  }
}

//INICIO QUERYS SECCION PRINCIPAL
@media (min-width: 768px) {
  .intro {
    .datos {
      width: 30%;
    }
  }
}

//INCIO TESTIMONIALES
.testimoniales {
  background: $bg-secciones-secundarias;
  width: 100%;
  padding: 100px 20px;
  .contenedor-titulos {
    margin-bottom: 10px;
  }
  .testimonio {
    width: 100%;
    @include flexbox(column, flex-start, center);
    padding: 20px;
  }
  .texto-quotes {
    max-width: 750px;
    margin-bottom: 30px;
  }
  .texto-comun {
    margin: 5px 0;
  }
}

//INICIO EMPRESAS
.empresas {
  width: 100%;
  height: 200px;
  background: $bg-secciones-terciarias;
  padding: 0 20px;
  .logo-empresa {
    padding: 10px 15px;
    img {
      width: 200px;
    }
  }
}

//INICIO OFERTAS
.oferta {
  width: 100%;
  padding: 100px 20px;
  .contenedor-imagen-principal {
    width: 100%;
    height: 50vw;
    max-width: 720px;
    max-height: 400px;
    margin: 0 auto 20px;
  }
  .swiper-container-ofertas {
    max-width: 720px;
    margin: 0 auto;
  }
  .imagen-casa {
    height: 30vw;
    max-height: 240px;
  }
}

//INICIO EQUIPO
.equipo {
  width: 100%;
  padding: 100px 20px;
  background: $bg-secciones-secundarias;
  .carrusel-equipo {
    height: 500px;
  }
  .carta-equipo {
    width: 100%;
    max-width: 280px;
    height: 80%;
    @include flexbox(column, center, center);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.089);
    .titulo-principal {
      font-size: 24px;
    }
  }
  .imagen-carta {
    width: 100%;
    height: 50%;
  }
  .descripcion-carta {
    width: 100%;
    height: 50%;
    @include flexbox(column, space-evenly, center);
    padding: 20px;
    background: white;
  }
  .texto-comun {
    font-size: 16px;
    line-height: 2;
  }
}

//INICIO SECCION FINAL
.google-maps {
  width: 100%;
  @include flexbox(row, center, center);
  flex-wrap: wrap;
  .contenedor-titulos {
    height: 350px;
    @include flexbox(column, flex-start, center);
    padding: 50px 20px;
    margin: 0;
    .texto-comun {
      max-width: 520px;
    }
  }
  .contenedor-mapa {
    width: 100%;
    height: 350px;
  }
  .titulo-principal {
    margin-bottom: 20px;
  }
  .texto-comun {
    line-height: 2;
  }
}

//INICIO QUERYS SECCION FINAL

@media (min-width: 768px) {
  .google-maps {
    .contenedor-titulos {
      flex: 50%;
    }
    .contenedor-mapa {
      flex: 50%;
    }
  }
}

//INICIO FOOTER
footer {
  width: 100%;
  height: 50px;
  @include flexbox(row, center, center);
  background: $bg-secciones-terciarias;
  .texto-comun {
    color: $color-seleccion;
  }
}

//MODAL
.contenedor-modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  @include flexbox(row, center, center);
  background: rgba(0, 0, 0, 0.432);
  display: none; //PARA CAMBIAR CON JS
  .contenedor-imagen-modal {
    position: relative;
    width: 100%;
    max-width: 800px;
    max-height: 500px;
  }
  .img-modal {
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 500px;
  }
  .btn {
    position: absolute;
    bottom: -80px;
    width: 40px;
    height: 40px;
    @include flexbox(row, center, center);
    border: none;
    color: white;
    background: none;
    font-size: 2.5rem;
  }
  .btn:focus {
    outline: 2px solid $color-seleccion;
  }
  .btn-izquierda {
    left: 60px;
  }
  .btn-derecha {
    right: 60px;
  }
  .btn-cerrar {
    top: -50px;
    right: 0px;
    @include flexbox(column, center, center);
  }
  .linea-cerrar {
    position: absolute;
    width: 35px;
    height: 4px;
    background: white;
    transform: rotate(135deg);
  }
  .linea-cerrar:nth-child(2) {
    transform: rotate(-135deg);
  }
}
